<div class="container">
  <h1>Todo app</h1>
  <app-todo-input (addTodo)="onAddTodo($event)" />

  <ng-container *ngIf="todos().length > 0; else noTodos">
    <app-todo-filter [activeFilter]="activeFilter()" [todoNumber]="filteredTodos().length"
      (selectedFilter)="onFilterTodos($event)" />
    <app-todo-list [filteredTodos]="filteredTodos()" (removeTodo)="onRemoveTodo($event)"
      (todoStatus)="onUpdateStatus($event)" />
  </ng-container>

  <ng-template #noTodos>
    <p class="error">You don't have any todos yet....</p>
  </ng-template>
</div>